.top-page-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  }
.nav{
  display: flex;
  width: 30vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.title{
  text-decoration: none;
  font-size: 20px;
  color: honeydew;
  font-family:  'arial black',serif;
}
.second-button{
  height: 10vh;
  width: 30vw;
  display: flex;
  margin-left: 800px;
  align-items: center;
  justify-content: space-around;
}
.sign-out{
  color: white;
  text-decoration: none;
  background-color: 	#FF773E;
  border: 8px solid 	#FF773E;
  border-radius:100px;
}
.my-name{
text-decoration: none;
color: black;
font-size: 18px;
}
